*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Open+Sans:ital,wght@0,300;1,300&family=Patrick+Hand&family=Roboto+Condensed:ital@1&family=Roboto:wght@100&display=swap');

/* HEADER */
header{
    background-color: #2e64a1;
}
.logo-ctn{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15vh;
}
.logo{
    width: 100px;
    margin: 20px;
}
.title{
    color: #fff;
}

/* NAV */
a{
    color: #fff !important;
    padding: 0px 20px !important;
}
.active{
    background-color:#2e64a1;
}

/* INDEX */
.ctn-index{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-plane{
    margin-top: 20px;
    width: 60vw;
    height: 50vh;
}
.ctn-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
}
.text-welcome{
    width: 35vw;
    min-height: 30vh;
}
.text-testimony{
    width: 25vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-text{
    background-color: rgb(182, 177, 177);
    min-width: 10vw;
    min-height: 10vh;
}

/* NOSOTROS */
.ctn-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 85vh;
}
.text-history{
    width: 90vw;
    margin-top: 20px;
}
.ctn-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-group{
    width: 93vw;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    margin: 20px;
    border: 1px solid black !important;
}

/* SERVICIOS */
.ctn-services{
    min-height: 75vh;
}
.cards-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-services{
    border: 1px solid black !important;
    border-radius: 10px;
    width: 80vw;
    min-height: 15vh !important;
}
.img-services{
    width: 25vw;
    padding: 10px 10px;
    min-height: 10vh;
    border-radius: 20px;
}
/* GALLERY */
.ctn-gallery{
    min-height: 75vh;
    width: 100%;
}
.ctn-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box-img-gallery{
    max-width: 300px;
    min-height: 25vh;
    margin: 20px;
    border: 1px solid black;
}
.img-gallery{
    width: 100%;
    height: 100%;
    padding: 10px 10px;
}

/* NOVEDADES */
.ctn-news{
    min-height: 75vh;
}
/* CONTACTO */
.ctn-contact{
    min-height: 75vh;
    display: flex;
    justify-content: center;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 40vw;
}
.mailto{
    color:blue !important;
}
.contact-right{
    width: 40vw;
}

/* FOOTER */
footer{
    min-height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d8d8d8;
    color: #2e64a1;
}

/* MEDIAS */
@media screen and (max-width:950px) {
    .ctn-text{
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}