*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Patrick+Hand&family=Roboto+Condensed:ital@1&family=Roboto:wght@100&display=swap');
header{
    background-color: #2e64a1;
}
.logo-ctn{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15vh;
}
.logo{
    width: 100px;
    margin: 20px;
}
.title{
    color: #fff;
}
a{
    color: #fff !important;
    padding: 0px 20px !important;
}
.active{
    background-color:#2e64a1;
}
.box-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-avion{
    margin-top: 20px;
    width: 60vw;
    height: 40vh;
}
.ctn-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box-textos{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 60vw;
    min-height: 30vh;
    flex-wrap: wrap;
}
.ctn-bienvenidos{
    width: 30vw;
    height: 30vh;
}
.ctn-textimonios{
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-text-rigth{
    background-color: grey;
    width: 10vw;
}

/* NOSOTROS */
.ctn-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 85vh;
}
.text-history{
    width: 90vw;
    margin-top: 20px;
}
.card-group{
    margin-bottom: 20px;
}
.card{
    margin: 20px;
    border: 1px solid black !important;
}

/* SERVICIOS */
.ctn-services{
    min-height: 75vh;
}
.cards-services{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    min-height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#BDCDD6;
    color: #Fff;
}